.App {
  text-align: center;
}
.comments-list {
  list-style-type: none;
}

.comment-item {
  display: flex;
  margin-bottom: 15px;
}

.item-box {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 15px;
  border-radius: 11px;
  background-color: #282c34;
  color: aliceblue;
  box-shadow: 2px 2px 2px blue;
}

.btn {
  max-width: 0.8em;
  max-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: aliceblue;
  cursor: pointer;
  border-radius: 11px;
}
